*{
    margin: 0;
    padding: 0;
}

.center{
    width: 400px;
    height: 200px;
    background: #cccccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    overflow: hidden;
}
.corner{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background: #fc0;
}
.left-top{
    left: -50px;
    top: -50px;;
}
.right-bottom{
    right: -50px;
    bottom: -50px;
}